[user]
	name = BeneSchlz
	email = 166176063+BeneSchlz@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[credential]
	helper = osxkeychain
